<div class="row">
    <div class="col-md-6">
        <div class="data-table">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr ng-repeat="product in products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.minQuantity }}</td>
                    <td>{{ product.price}}</td>
                    <!--<td><a href="" ng-click="deleteProduct(product._id)"><img src='../../images/delete.png' /></a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
