.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
  margin-right: 0;
}
.my-invalid {
  outline: none;
  box-shadow: 0 0 5px orange;
  margin: 5px 1px 3px 0px;
  border: 1px solid orange;
}
.my-valid {
  box-shadow: 0 0 5px green;
  margin: 5px 1px 3px 0px;
  border: 1px solid green;
}
