<h2>Products</h2>
<div class="container">
	<div class="data-table">
		<table class="table table-condensed table-hover">
			<tr>
				<th>Name</th>
				<th>Code</th>
				<th>Quantity</th>
				<th>Price</th>
				<th></th>
			</tr>
			<tr ng-repeat="product in products">
				<td>{{ product.name }}</td>
				<td>{{ product.code }}</td>
				<td>{{ product.minQuantity }}</td>
				<td>{{ product.price}}</td>
				<td><a href="" ng-click="deleteProduct(product._id)"><img src='../../images/delete.png' /></a></td>
			</tr>
		</table>
	</div>
</div>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form role="form">
				<div class="row">
					<div class="form-group col-lg-4">
						<label for="code">Product name</label>
						<input type="text" class="form-control" placeholder="Enter product name" ng-model="formData.name">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-1">
						<label for="code">Code</label>
						<input type="text" class="form-control" placeholder="Enter product code" ng-model="formData.code">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-1">
						<label for="code">Product quantity</label>
						<input type="number" class="form-control" placeholder="Enter product quantity" ng-model="formData.minQuantity">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-1">
						<label for="code">Price</label>
						<input type="number" class="form-control" placeholder="Enter product price" ng-model="formData.price">
					</div>
				</div>
				
					<button type="submit" class="btn btn-primary" ng-click="createProduct()">
						Add
					</button>
			</form>
		</div>
	</div>
</div>