<h1>Customers List</h1>
<div class="row">
    <div class="col-md-12">
        <div class="data-table">
            <table tr-ng-grid="" items="customers">
                <thead>
                    <tr>
                        <th field-name="name" display-name="Name">
                        </th>
                        <th field-name="code" display-name="Code">
                        </th>
                        <th field-name="emailId" display-name="Email">
                        <th field-name="address" display-name="Address">
                        </th>
                        <th field-name="activeState" display-name="Active">
                        </th>
                        <th field-name="location" display-name="Location">
                        </th>
                        <th field-name="mobileNo" display-name="Mobile">
                        </th>
                        <th field-name="phoneNo" display-name="Phone">
                        </th>
                        <th field-name="state" display-name="State">
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
