<h2>{{form.updateForm.heading}}</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form role="form" name="outerForm">
                <div class="row">
                    <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="search()" >{{form.updateForm.searchLabel}}</button>
                    </div>
                </div>            
                <div ng-include="'views/forms/formFields.html'"></div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled="outerForm.$invalid">{{form.updateForm.submitLabel}}</button>
                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{form.updateForm.cancelLabel}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>